{% extends "base.html" %}
{% block content %}

<h1> Service </h1>

<div class="grid">
    <div class="card">
        <h2>Password Reset</h2>
        <p>Assistance with resetting your campus account password.</p>
    </div>

    <div class="card">
        <h2>Software Installation</h2>
        <p>Guidance on installing required software for your devices.</p>
    </div>

    <div class="card">
        <h2>Network Issues</h2>
        <p>Troubleshooting connectivity problems on campus networks.</p>
    </div>

    <div class="card">
        <h2>Hardware Support</h2>
        <p>Guidnace on diagnosing and fixing hardware problems.</p>
    </div>

    <div class="card">
        <h2>Account Management</h2>
        <p>Help with managing your campus accounts and services.</p>
    </div>
</div>
    {% endblock %}
